@{
    ViewData["Title"] = "Home D'accueil";
}

<div class="text-center">
    <h1 class="display-4">Marwen</h1>
    <p>Bienvenue sur ma page test <a href="https://github.com/Marwen-Hammami/tuto">Le lien Github de l'application'</a>.</p>
</div>
